doctype
html
	head
		title React Server Side Rendering Example
	body
		div(id='react-root')!= react

		script(src='http://fb.me/react-with-addons-0.13.1.js')
		script(src='http://fb.me/JSXTransformer-0.13.1.js')
		script(src='components.jsx', type='text/jsx')
